<div class="col-md-12">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Gestionar Reserva 3 - Código Paquete: <strong>{{ codigopaquete }}</strong></h3>
        </div>
        <!-- /.box-header -->
        <div class="row">
            <div class="col-md-12">
                <div class="box-body">
                    {{ form_start(form) }}
                    {% if error != '' %}
                        <div class="error" style="color: #b91a14">{{ error }}</div>
                    {% endif %}
                     {#Fila0#}
                    <div class="row">
                       
                     
                        <div class="col-md-3">
                            <div class="form-group">
                                Estado reserva
                            {#{{ form_label(form.EstadoReserva, null, {'label_attr': {'class': 'control-label'}}) }}#}
                            {{ form_widget(form.EstadoReserva, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>

                    



                    </div>

                   


                    {#Fin fila 0#}

                    <div style="float: right">
                        <button class="btn btn-primary" style="margin: 0px 5px">{{ button_label|default('ADICIONAR') }}</button>
                        
                    </div>

                    {{ form_end(form) }}
                    <a href="{{ path('cliente_new') }}"><button class="btn btn-primary">CREAR NUEVO CLIENTE</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
