{% extends 'base.html.twig' %}
{% block body %}
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">

            <div class="col-md-12">
                <div class="box">
                    {% if error != '' %}
                        <div class="error" style="color: #b91a14">{{ error }}</div>
                    {% endif %}
                    <div class="box-header">
                        <h3 class="box-title">Aerolineas</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-2">
                                        Nombre
                                    </div>
                                    <div class="col-md-10">
                                        {{ aerolinea.nombre }} 
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box-body" style="display: flex">
                                <a href="{{ path('aerolineas_index') }}"><button class="btn btn-primary" style="margin: 0px 5px">VOLVER AL LISTADO</button></a>

                                <a href="{{ path('aerolineas_edit', {'id': aerolinea.id}) }}"><button class="btn  btn-success" style="margin: 0px 5px">EDITAR</button></a>

                                {{ include('aerolineas/_delete_form.html.twig') }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
